* {
  box-sizing: border-box;
}

#all-boards-container {
  border-radius: 16px;
}

.card-title {
  border: 3px solid white;
  width: 100%;
  height: 50%;
}

.card-title:hover {
  border: 3px solid #a389d4;
}