* {
  box-sizing: border-box;
}

#all-boards-container {
  border-radius: 16px;
  padding-bottom: 80px;
}

.card-title {
  border: 3px solid white;
  width: 100%;
  height: 50%;
}

.card-title:hover {
  border: 3px solid #a389d4;
}

.loading-msg {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: center;

  border-radius: 16px;
  background-color: white;
  width: 60%;
  margin-top: 10px;
  padding-top: 32px;
}

.loading-img {
  flex: 1;
  width: auto;
  max-height: 200px;
}