.cardContainer {
  width: 90%;
  height: auto;
  border: 2px solid rosybrown;
  border-radius: 8px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
}

.addCardButton {
  background-color: palevioletred;
  border-color: palevioletred;
  border-radius: 8px;
  width: 100px;
  height: 100px;
}