
@import url('https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

#site-title{
  font-family: 'Sour Gummy', cursive;
  font-size: 3rem;
}

#header{
  margin-top: 16px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  max-width: 1200px;
}


.header-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}